body{
	background-image: url("/img/HW2/background.png");
	font: 8pt;
	font-family: Verdana, Tahoma;
	margin: 0px;
}

#topimg{
	margin-top: 0px;
	line-height: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50px;
}

header{
	background-image: url("/img/HW2/bannerbg.png");
	background-repeat: repeat;
	height: 50px;
}

h1{
	font: 24pt;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif;
	text-align: center;
	text-shadow: 3px 3px #999999;

}



.maincontent{
  margin: auto;
  width: 800px;
  height: 1000px;
  border: 4px solid gray;  
  border-radius: 20px;
  overflow: hidden;
  

}

#firstsection{
	width: 550px;
	font-size: 48pt;
	font-weight: bold;
	color: red;
	background-image: url("/img/HW2/rbg.png");
	height: 83px;
	margin-right:250px;
	
	
}

#overview{
	float: right;
	margin-top: -100px;
}

.maincontent:after{
	clear: both;
}



#ssection{
	height: 895px;
	width: 542px;
	overflow: hidden;
	font-size: 8pt;
}

.column{
	float: left;
  width: 40%;
  padding: 10px;
  height: 850px; 
  margin-left: 3%;
  margin-top: 2%;
}

#ficomment{
	border-radius: 10px;
	border: 2px thick;
	height: 150px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#secomment{
	border-radius: 10px;
	border: 2px thick;
	height: 60px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#thcomment{
	border-radius: 10px;
	border: 2px thick;
	height: 50px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#focomment{
	border-radius: 10px;
	border: 2px thick;
	height: 100px;
	background-color: hsl(51, 63%, 76%);
	margin-bottom: 5%;
    padding: 8px;
}

#fifcomment{
	border-radius: 10px;
	border: 2px thick;
	height: 50px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#sicomment{
	border-radius: 10px;
	border: 2px thick;
	height: 150px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#sevcomment{
	border-radius: 10px;
	border: 2px thick;
	height: 60px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#eicomment{
	border-radius: 10px;
	border: 2px thick;
	height: 100px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#nicomment{
	border-radius: 10px;
	border: 2px thick;
	height: 100px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

#tecomment{
	border-radius: 10px;
	border: 2px thick;
	height: 60px;
	background-color: #E8DC9B;
	margin-bottom: 5%;
    padding: 8px;
}

.images{
	float: left;
	padding-right: 5px;
}

.box{
	padding-top: 8px;
	padding-left: 5px;
	font-size: 8pt;
}

p{
	padding-bottom: 20pt;
}

#generaloverview{
	width: 250px;
	float: right;
	height: 610px;
	margin-top: -585px;
	overflow: hidden;
	background-color:  #A2B964;
	font-size: 8pt;
    padding: 10pt;
}

dl{
	padding-left: 10pt;
	font-family: Arial, sans-serif;
}

dt{
	font-weight: bold;
}


.general:after{
	clear: both;
}
#bottom{
	height: 25px;
	width: 550px;
	float: left;
	background-color: red;
	overflow: hidden;
	background-color: #A2B964;
	text-align: center;
	font-size: 8pt;
	padding-top: 5pt;
}

#rpic{
	float: left;
}



#link1{
	float: right;
	opacity: 50%;
	bottom: 0;
	right: 0;
	position: fixed;
	height: 70px;
}

#link2{
	float: right;
	opacity: 50%;
	bottom: 0;
	right: 0;
	position: fixed;
}


